<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group">
         <ul class="dashboard-left-sidebar-ul margin-top-align">
            <li><a (click)="inbox($event)">Inbox</a></li>
            <li><a class="active" (click)="sent($event)">Sent</a></li>
        </ul>
    </div>
     <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="message-inbox-header-layout margin-top-align">
                    <h2 class="message-inbox-header-title">Sent</h2>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="message-inbox-content-layout" *ngFor="let dtoMessageHeader of dtoMessageHeaderList">
                     <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                          <!--  <input id="message-inbox-message-id-{{message.id}}" type="checkbox" class="checkbox message-inbox-checkbox"> --> 
                          <img class="img-responsive message-inbox-user-image"  src="resources/images/profile/{{dtoMessageHeader?.receiver?.img}}" alt="User Image">
                        </div>                           
                        <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                            <a (click)="showMessageBodyList($event, dtoMessageHeader.entityMessageHeader.id)">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h3 class="message-inbox-sender-name">{{dtoMessageHeader?.receiver?.firstName}} {{dtoMessageHeader?.receiver?.lastName}}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h4 class="message-inbox-message-subject">{{dtoMessageHeader.entityMessageHeader.subject}}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div> 
        <mat-paginator [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPaginateChange($event)">
        </mat-paginator>
         
<!--        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="message-inbox-content-layout" *ngFor="let message of messageList">
                     <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                            <input id="message-inbox-message-id-{{message.id}}" type="checkbox" class="checkbox message-inbox-checkbox"> 
                            <img class="img-responsive message-inbox-user-image"  src="resources/images/profile/{{message?.from?.img}}" alt="User Image">
                        </div>
                        <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                            <a (click)="selectedMessage($event, message.id)">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h3 class="message-inbox-sender-name">{{message?.from?.firstName}} {{message?.from?.lastName}}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h4 class="message-inbox-message-subject">{{message.subject}}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>