<div class="search-box-layout-bg">
    <div class="steps">
        <div class="container">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <img src="resources/images/steps1.png">
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <a (click)="goToSignup($event)"><span class="hd-content" id="signup">Create an account</span></a> <br><span class="hd-content">and Login</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <img src="resources/images/steps2.png">
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <span class="hd-content">Bid and</span> <br><span class="hd-content">Win</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <img src="resources/images/steps3.png">
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <span class="hd-content">Pay the</span> <br><span class="hd-content">Rent</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <img src="resources/images/steps4.png">
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <span class="hd-content">Enjoy your</span> <br><span class="hd-content">Stay</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row form-group search-login-top-bottom-margin">
            <div class="col-xs-12 col-sm-offset-2 col-sm-7 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <div class="search-box-pagelet form-group">
                    <form role="form" (submit)="search($event, locationSelector.value)">
                          <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-8 col-lg-offset-2 col-lg-8 form-group">
                                <div class="landing-page-search-box-layout">
                                    <input #locationSelector name="locationSelector" [(ngModel)]="selectedLocation"
                                        [typeahead]="locationList"
                                        typeaheadOptionField="searchString"
                                        class="form-control search-input-field">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 form-group">
                                <button type="submit" class="form-control common-custom-button non-member-search-input">Search</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h1 for="id" class="text-center landing-page-search-box-header-text"></h1>
                                <h3 for="id" class="text-center landing-page-search-box-small-text"></h3>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-bottom-50px">
    <div class="row form-group">
        <div *ngFor="let dtoProduct of featuredProductList" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group" >
            <div class="product-auction-head">
                <div class="product-auction-img">
                    <a (click)="showAd($event, dtoProduct.entityProduct.id)"><img class="img-responsive" src="resources/images/product/328_212/{{dtoProduct.entityProduct.img}}" alt="Property Image"></a>
                </div>
                <div class="auction-time text-center">{{dtoProduct.timeLeft}}</div>
<!--                <div *ngIf="productInfo.id == 1" class="auction-time text-center">1 hours 56 mins 46 secs</div>
                <div *ngIf="productInfo.id == 2" class="auction-time text-center">3 hours 42 mins 46 secs</div>
                <div *ngIf="productInfo.id == 3" class="auction-time text-center">6 hours 15 mins 46 secs</div>
                <div *ngIf="productInfo.id == 4" class="auction-time text-center">9 hours 38 mins 46 secs</div>
                <div *ngIf="productInfo.id == 5" class="auction-time text-center">15 hours 22 mins 46 secs</div>
                <div *ngIf="productInfo.id == 6" class="auction-time text-center">22 hours 08 mins 46 secs</div>-->
                <div class="product-auction-title margin-bottom-5px">
                    <a (click)="showAd($event, dtoProduct.entityProduct.id)"><h3>{{dtoProduct.entityProduct.title}}</h3></a>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 margin-bottom-15px" >
                        <button (click)="showAd($event, dtoProduct.entityProduct.id)" class="form-control product-details-bid-button">Bid</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4" >
                        <div class="form-control product-auction-price">
                            <!--<span>{{product.price}}</span>-->
                            <span>£{{dtoProduct.entityProduct?.basePrice | number:'.2-2'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>