<div class="landing-page-footer-top-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 form-group" >
                <h2 class="landing-page-footer-top-section-header">QUICKLINKS</h2>
                <ul class="landing-page-footer-top-section-ul">
                    <li><a (click)="goToTerms($event)">Terms</a></li>
                    <li><a (click)="goToPrivacyPolicy($event)">Privacy Policy</a></li>
                    <li><a (click)="goToAboutus($event)">About</a></li>
                    <li><a (click)="goToContactus($event)">Contact</a></li>
                    <li><a (click)="goToFaq($event)">FAQ</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group" >
                <h2 class="landing-page-footer-top-section-header">CONTACT</h2>
                <ul class="landing-page-footer-top-section-ul">
                    <li>
                        <a>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                    <img src="resources/images/twitter-footer-icon.png">
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                                    <span>#RoomBidRentUK</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                    <img src="resources/images/google-plus-footer-icon.png">
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                                    <span>RoomBidRentUK</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                    <img src="resources/images/facebook-footer-icon.png">
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                                    <span>RoomBidRentUK</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="footer-section" class="footer-bg">
    <div class="footer-border">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                RoomBidRent UK 2017
            </div>
        </div>
    </div> 
</div>