<div class="row">
     <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group">
         <ul class="dashboard-left-sidebar-ul margin-top-align">
            <li><a class="active" (click)="account($event)">Notifications</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="message-inbox-header-layout margin-top-align">
                    <h2 class="message-inbox-header-title">Notifications</h2>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<!--                This is notification page. This page will be implemented soon.-->
            </div>
        </div>
    </div>
</div>