<div class="container">
    <div class="row margin-top-bottom-10px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center">About</h3>
        </div>
    </div>
    <div class="row font-size-16px text-justif">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 aboutus">
            <p>Launched in 2017, roombidrent.co.uk is the simple way to search, bid and rent short to
                long term accommodation. We aim to provide a unique and effective platform
                which provides an exceptional property service for all potential agents,
                landlords, tenants, lodgers and guests.</p>

            <p>Our services are available on our website and also via Android and Apple mobile
                applications. We hope that when you use roombidrent.co.uk, you'll enjoy our
                fresh, clean and focused approach. </p>

            <p>Letting agents and landlords have moved to roombidrent.co.uk from other sites and many
                are advertising their new properties with us as we provide a platform and
                service with many benefits.</p>
            <p>So whether you're looking let or rent, we're in business to improve your experience. </p>

            <p> &nbsp;</p>

            <p><b>Information and support</b></p>

            <p>E: info@roombidrent.co.uk</p>

            <p>T: 02033978425</p>

            <p> &nbsp;</p>
        </div>
    </div>
</div>
