<div class="container">
    <div class="row margin-top-bottom-10px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center">Contact Us</h3>
        </div>
    </div>
    <div class="row font-size-16px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contactus">
            <p>Room Auction is operated by Cadogan McQueen Concierge Limited</p>

            <p>Company number: 10124266</p>

            <br>

            <p><b>Registered office: </b></p>

            <p>Trinity House</p>

            <p>Heather Park Drive</p>

            <p>Greater London</p>

            <p>England</p>

            <p>HA0 1SU</p>

            <br>

            <p><b>Contact us by email or call us:</b></p>

            <p>Email: info@roombidrent.co.uk</p>

            <p>Tel: 020 3397 8425</p>

           <br>
        </div>
    </div>
</div>
