<div class="container">
    <div class="row margin-top-bottom-10px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>FAQ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default faq-custom-panel-default faq-custom-panel">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <p class="custom-panel-title">General</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p><b>How do I get started?</b></p>

                            <p>You can search and browse all ads on
                                RoomBidRent without an account, but you'll need to register, which is free, to
                                place an ad or contact other users.&nbsp;<a href="#signup">Register free now</a></p>

                            <p><b>How do I search RoomBidRent?</b></p>

                            <p>You can search RoomBidRent in several ways.</p>

                            <p>The easiest is to use the quick search box
                                on the home page.Enter an area or postcode. Then click 'search' to get to the
                                results.</p>

                            <p>You can carry out an advanced search with
                                more options (e.g. price range, type of accommodation, and much more) by
                                clicking 'Filters' on the navigation bar at the top of the page search.</p>

                            <p>When you find an ad you like you can get in
                                touch with the Landlord or agent using the contact icon on the right hand side
                                of the advert.</p>

                            <p><b>Can you find me accommodation?</b></p>

                            <p>We're not an agency so we can't find (or
                                personally recommend) properties for you. However, our Customer Service team
                                are on hand 7 days a week to help you get the most from RoomBidRent.</p>

                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default faq-custom-panel-default faq-custom-panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <p class="custom-panel-title">Advertising</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">

                            <p><b>Do you pre-check Landlords and Agents?</b></p>

                            <p>It wouldn't be practical (or possible) for
                                us to check every Landlord or on the site. We do, however, take the safety of
                                our users very seriously and we take several measures to prevent scammers from
                                advertising on RoomBidRent or contacting other users. </p>

                            <p><b>Placing an advert</b></p>

                            <p>We recommend you place an advert to get the
                                best from RoomBidRent (it's free) so other users know what you're looking for
                                or offering. There are two types of advert you can choose from - Free Ads and
                                Bold Ads.</p>

                            <p><b>How do I place an ad?</b></p>

                            <p>To place an ad on RoomBidRent, click on
                                'Place Ad' in the main menu bar. To advertise a room, choose the first category
                                'Rooms to Rent'. If you have a whole property, choose the second category. You
                                can then fill in all the details. If you're looking for a room, choose 'Room
                                Wanted' and fill in the details to let people know what you're looking for.</p>

                            <p><b>What's a Bold Ad?</b></p>

                            <p>Bold ads appear highlighted in blue on the
                                search results pages and feature above free listings of the same age. Upgrading
                                also includes Early Bird access so you can contact all other users (either
                                those advertising rooms or looking for rooms). Upgrades cost from £10.99 for 7
                                days - if you have more than one property the upgrade also lets you manage
                                multiple adverts by buying extra listings.</p>

                            <p><b>How do I upload photos to my ad?</b></p>

                            <p>All users can add up to 9 photos to their
                                advert free of charge. You'll need to be logged in to your account to do this.</p>

                            <p>Here's how it works:</p>

                            <p>Find the advert you want to add photos to
                                by selecting 'My Account' and then 'My Ads' on the navigation bar at the top of
                                the page. (The reference number and title of your current advert will be listed
                                in the middle of the page with some wording in blue just below it)</p>

                            <p>From the list of options in blue select
                                'Photos'. You'll then be taken to a photo upload screen</p>

                            <p>Click the 'Browse' button. This will open a
                                pop-up window where you can locate and select the photo you want to add</p>

                            <p>Highlight the photo you want to add and
                                click 'open'. This will fill the box next to the browse button with text</p>

                            <p>Click the 'upload' button</p>

                            <p>Once uploaded the photo will appear as a
                                small image lower down the page.</p>

                            <p>Once you have all your photos uploaded you
                                can change the order they appear in or add a caption. To change the order of
                                the photos click and hold a photo and drag it to its preferred position.</p>

                            <p><b>How do I edit my advert?</b></p>

                            <p>To edit your advert:</p>

                            <p>Log in and go to 'My Account'</p>

                            <p>Click 'My Ads' on the blue navigation bar</p>

                            <p>On the 'My placed ads' screen you'll see a
                                grey box titled My Offered/Wanted ads, with the reference number and title of
                                your advert</p>

                            <p>Select 'Edit'</p>

                            <p>The following page is the Edit screen.
                                You'll be able to change any information surrounded by an edit box. When you've
                                made all your changes scroll to the bottom of the page and select 'Save'.</p>

                            <p>Your changes will then be made live on the
                                site within 90 minutes (see&nbsp;<a href="">Why hasn't my ad/video/photo
                                    appeared on the site yet?</a>&nbsp;for more on
                                this).</p>

                            <p><b>What can I say in my ad?</b></p>

                            <p>Renting property is subject to
                                discrimination laws, so it's important to understand what you can (and can't)
                                say in your room ad. Largely this is down to whether you'll be living in the
                                property or not, but there's a little more to it than that.</p>

                            <p>For full details on discrimination when
                                you're advertising a room &nbsp;<a href="">click here</a>.</p>

                            <p><b>How do I place more than one advert?</b></p>

                            <p>If you want to have more than one advert
                                live on the site you'll need to be an upgraded user with extra listing spaces.</p>

                            <p>You can upgrade at any time - this will
                                upgrade your free listing to a bold listing. If you need more live listings the
                                new upgraded status will let you buy additional spaces.</p>

                            <p><b>Why hasn't my ad/video/photo appeared on the site yet?</b></p>

                            <p>At RoomBidRent we take your safety
                                extremely seriously. That means (unlike most other sites) we do everything in
                                our power to keep spam and scams off the site. To do this we've built a complex
                                set of filters that scan every single ad to make sure that there's nothing
                                fraudulent in it. These filters are updated constantly - after more than a
                                decade of running flatmate sites we're pretty good at spotting spam and scam
                                but there are always new tricks.</p>

                            <p>Once that's done each ad, photo and video
                                uploaded to the site is checked manually to make sure the filters haven't
                                missed anything. As you can imagine this takes time, but don't worry, your ad
                                will appear on the site shortly after it's uploaded.</p>

                            <p>The upside of this is that there's nowhere safer online to rent a room or find a flatmate.</p>

                            <p>How do I deactivate my advert?</p>

                            <p>To deactivate your advert:</p>

                            <p>Log in and go to 'My Account'</p>

                            <p>Click 'My Ads' on the blue navigation bar</p>

                            <p>On the 'My placed ads' page you'll see all
                                your adverts with their reference number and title</p>

                            <p>Click on 'Deactivate Ad'</p>

                            <p>You'll be asked why you are deactivating
                                your advert. Select the appropriate option</p>

                            <p>Note - Deactivating your ad doesn't pause
                                your upgrade, you'll need to do this separately - see&nbsp;
                                <a href="">How do I pause (or re-activate) my upgrade?</a></p>

                            <p>How RoomBidRent works</p>

                            <p><b>Do I need to pay anything?</b></p>

                            <p>Anyone can use RoomBidRent completely free.</p>

                            <p>If you're looking for a room and want to
                                contact all adverts straight away, you can choose to upgrade to get early bird
                                access. If you choose not to upgrade, you'll still be able to contact the blue
                                bold adverts and ads over 7 days old. Early bird ads are free to contact after
                                7 days.</p>

                            <p>Free ads appear grey in the listings. If
                                you choose to upgrade your subscription it means your ad will appear as a blue
                                bold advert in the listings.</p>

                            <p><b>How does the upgrade system work?</b></p>

                            <p>RoomBidRent is free to use. The majority of
                                people who use RoomBidRentdo not upgrade their subscription. Upgraded users can
                                place Bold Ads, which appear higher up the search results list and generally
                                receive significantly more enquiries.</p>

                            <p><b>How do I upgrade?</b></p>

                            <p>Once registered, just click on 'My Account'
                                in the main menu bar then 'Upgrade' in the sub-menu. You can upgrade before or
                                after placing an ad. If you choose to place your ad first you can also use the
                                'Upgrade' option on your advert box on the 'My Ads page of your account'. If
                                you need any help choosing your upgrade, our customer services team will be
                                happy to help.</p>

                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default faq-custom-panel-default faq-custom-panel">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <p class="custom-panel-title">Bidding</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p><b>How to bid</b></p>

                            <p>To bid on an item:</p>

                            <p>1. Carefully review the listing</p>

                            <p>2. Click the <b>Place Bid</b> button. You may need to sign in</p>

                            <p>3. Enter your maximum bid, and then click the <b>Continue</b> button.</p>

                            <p>4. Review your bid, and click the <b>Confirm Bid</b> button.</p>

                            <p>When the listing ends, you'll receive an
                                email indicating whether you've won the item and an explanation of what to do
                                next.</p>

                            <p><b>Changing or retracting your bid</b></p>

                            <p>As a general rule, you can't retract
                                or cancel a bid. Once you place a bid, you agree to pay for the item if you're
                                the winning bidder.</p>

                            <p><b>Blocked Bidders </b></p>

                            <p>Landlords and agents can make their
                                listings unavailable to certain bidders that they specify based on certain
                                criteria, such as whether or not they have references and required duration of
                                stay.</p>

                            <p>If you are blocked from a listing and want
                                to discuss the situation with the Landlord or agent, like you can get in
                                touch with the advertiser using the contact icon. </p>

                            <p><b>Main Details</b></p>

                            <p>Each bid you place enters you into a
                                binding contract. All bids are active until the listing ends. If you win a
                                listing, you're obligated to purchase the item.</p>

                            <p>Don't bid on identical accommodation in
                                different listings if you only want one. If you win both, you'll be obligated
                                to pay for both.</p>

                            <p>If you're outbid on accommodation, wait
                                until the auction has ended before placing a bid on an equivalent property. If
                                the bidder who won the auction doesn't complete the transaction for any reason,
                                you could become the winning bidder.</p>

                            <p>If you're blocked from bidding on a Landlord
                                or agents listings, you cannot bid using another user ID.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default faq-custom-panel-default faq-custom-panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <p class="custom-panel-title">Contact</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">

                            <p><b>How does the contact system work?</b></p>

                            <p>To contact any advertiser just click on
                                'Email advertiser' to send them a message. If they've provided their number,
                                click on 'Phone advertiser' to call. You'll find these in the contact box on
                                the right of their advert.</p>

                            <p>There are four different types of contact
                                you can receive in relation to your advert.</p>

                            <p>Email Alerts. These are sent by RoomBidRent
                                on a daily basis (if you request them) and notify you of any new adverts placed
                                that match your criteria. You can click on the link(s) to go straight to the
                                advert(s) on RoomBidRent.</p>

                            <p>Direct replies to your advert from other
                                users. We'll notify you of any new messages by sending a 'message alert' to
                                your registered email address, this will contain a link to your RoomBidRent
                                inbox where you can respond.</p>

                            <p>Interest Shown - you'll get these when a
                                user either clicks the 'show interest' link on your advert or when they save
                                your advert to refer back to. Interest can be shown by any user to any other
                                user, regardless of whether they've upgraded or not.</p>

                            <p>Telephone calls. You'll only get these if
                                you choose to include a phone number with your advert.</p>

                            <p><b>Where do my messages go?</b></p>

                            <p>When you contact a RoomBidRent user via the
                                messaging system the following happens:</p>

                            <p>Your message is sent to the user's RoomBidRent inbox</p>

                            <p>We also send an email to their personal
                                email address to let them know they have a message</p>

                            <p><b>Why is there a delay in sending my message?</b></p>

                            <p>The main reason RoomBidRent uses an
                                in-house messaging system is because it's safe. It means you don't need to give
                                your email address to anyone until you choose to (and also means your email
                                can't be collected by automated software and added to spam mailing lists).</p>

                            <p>By using our own messaging system it also
                                means we can monitor message content and keep an eye out for scams. That
                                doesn't mean we read your messages - an automated filter, which we update
                                regularly, scans messages for any of the tell-tale language used by scammers
                                and we can quarantine these messages before they're sent. It also means, on the
                                rare occasions we think a scammer has been sending messages to users, we can
                                warn anyone they've been in touch with.</p>

                            <p>This does mean there can be a short delay
                                in your message being sent but don't panic, it just means it's being checked by
                                our system.</p>

                            <p><b>Why have I not received a response yet?</b></p>

                            <p>Some users check their email and/or log
                                into RoomBidRent less frequently than others - you should be patient and allow
                                at least 48 hours for a reply.</p>

                            <p>f the user decides, for whatever reason,
                                that you are unsuitable for the room, they may choose to not respond for fear
                                of offending. We try to make it easy for people to respond by offering an auto
                                decline response./p>

                            <p>Other reasons beyond our control could be a
                                user supplying an incorrect email address or the room having been let. We send
                                regular reminders and make it very easy for users to tell us when a room is
                                taken but not everyone removes their advert in good time. We're constantly
                                working on better ways to remove adverts earlier to remedy this.</p>

                            <p><b>What can I do if I don't receive a response within 2 days?</b></p>

                            <p>The best thing you can do is to try calling
                                the user (if they've left a number with their advert). Some prefer telephone
                                contact anyway. Find their ad, then click on &quot;Contact advertiser&quot;,
                                then &quot;Contact by phone&quot;. Failing that, the best thing to do is to
                                keep checking the listings. We get new rooms added every day so chances are
                                there will be plenty more rooms that are suitable for you. Don't wait around
                                for someone to get back to you - keep looking in the meantime.</p>

                            <p><b>How are the RoomBidRent listings ordered?</b></p>

                            <p>In broad terms the ads are ranked in this order:</p>

                            <p>Featured ads</p>

                            <p>New Today ads</p>

                            <p>Bold ads</p>

                            <p>Standard ads</p>

                            <p><b>How do I close my account?</b></p>

                            <p>Just call or email us and we'll do this for
                                you. We can either deactivate the account (so you don't receive any further
                                contact from us until you're ready) or permanently close your account.</p>

                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default faq-custom-panel-default faq-custom-panel">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                <p class="custom-panel-title">Support</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <p>Email: info@roombidrent.co.uk</p>

                            <p>Tel: 020 3397 8425</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
