<div class="container">
    <div class="row margin-top-bottom-10px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center">Terms</h3>
        </div>
    </div>
    <div class="row font-size-16px text-justify">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 terms">
            <p> Welcome to Room Auction (the <b>"Site"</b>)
                brought to you by Cadogan McQueen Concierge Ltd (<b>"We"</b>, <b>"Us"</b>,
                and <b>"Our"</b>), a company registered in England and Wales
                with company number 10124266. Cadogan McQueen Concierge Ltd registered office
                is at Trinity House, Heather Park Drive, Greater London, HA0 1SU.</p>

            <p>These terms and conditions (the <b>"Terms"</b>)
                constitute a legally binding contract between you, the user, and us. Please
                take the time to read these Terms carefully as they explain the legal
                relationship between you and us and will govern your use of the Site and the
                services made available through it. By accessing or using the Site and/or any
                content, materials or services made available through it you are agreeing to be
                legally bound by these Terms.</p>

            <p>We reserve the right to change these Terms from time to time in
                our sole discretion. Your use of the Site will be subject to the most recent
                version of the Terms posted on the Site at the time of such use. Although we
                recommend that you read through the Terms available on the Site from time to
                time, so that you can be sure that you are aware of the latest version, we will
                give you reasonable prior notice if we intend to make any changes to these
                Terms that may be materially to your detriment before such changes take effect.</p> <br>
            <ol>
                <li><p><b>Contact us</b></li>
                <ol>
                    <li><p>If you would like to contact us about the Site, please do so using the following details:</li>
                    <p>
                        Room Auction<br>
                        Trinity House<br>
                        Heather Park Drive<br>
                        Greater London<br>
                        England<br>
                        HA0 1SU<br>
                        <br>
                        Email: <a href="">info@roombidrent.co.uk</a><br>
                        Tel: 02033978425</p>
                </ol><br>

                <li><p><b>Registration</b></li>
                <ol>
                    <li><p>You do not need to register as a member
                        of the Site in order to browse some sections of the Site, but you may not
                        be able to access all of the features of the Site unless you register
                        with us and create an account on the Site. If you are browsing the Site
                        and have not yet registered with us, your use of the Site will still be
                        subject to these Terms.</li>

                    <li><p>You will need to register with us in
                        order to post any adverts on the Site. You can register by clicking on
                        the <a href="#signup"> Create an account </a>
                        on our homepage and submitting the information required. You'll need to
                        provide a valid email address and a password, which you will be required
                        to submit each time you log into the Site. You may also be required to
                        submit some additional personal information about yourself as part of the
                        registration process.</li>

                    <li><p> We also allow users to log in to our
                        Site using their Facebook account details, by utilising the Facebook
                        Connect feature. If you choose to create an account with us that's linked
                        to your Facebook profile in this way you will only need to enter your
                        Facebook login details in order to create an account with us. By entering
                        your Facebook log in details you're granting us permission to share
                        certain information with Facebook so that we can provide you with an
                        enhanced service. For more information on the information that may be
                        shared between us and Facebook please refer to our <a (click)="goToPrivacyPolicy($event)">privacy policy</a>.</li>

                    <li><p>You must be at least 18 years old to
                        register and you are only permitted one account on the Site. Multiple
                        live accounts are not permitted. By registering with us you are
                        representing and warranting to us that: (i) you are over 18 years old;
                        (ii) you have not previously been banned from the Site; and (iii) you do
                        not already have an account registered with us.</li>
                    <li><p>You agree that all registration
                        information you submit to the Site will be truthful and accurate and you
                        will maintain the accuracy of this information. This includes the user
                        type you register as. Agents found to be falsely registering as Landlords
                        (or any other type of user) will be removed from the site.</li>

                    <li><p>Your account is for your use only and
                        you agree that you will not share your account with any other person. It
                        is your responsibility to keep your password secure. You will be
                        responsible and liable for any actions of any person logging into the
                        Site using your username and password (including, without limitation, any
                        adverts posted on the Site via your account). You should notify us
                        immediately if you suspect that anyone else knows your password or that
                        anyone has accessed your account without your permission. Unless we have
                        been notified otherwise we will be entitled to assume that any person
                        logging into our Site using your username and password is you.</li>

                    <li><p>We may at any time and for any reason
                        refuse to accept a registration from any person.</li>
                </ol><br>

                <li><p><b>Access and use of the Site</b></li>
                <ol>
                    <li><p>We do not charge any fees for
                        registering an account with us. Some aspects of the Site are also made
                        available free of charge, such as placing standard adverts and browsing
                        and searching on the Site.</li>
                    <li><p>We also offer a number of additional
                        features and functionality on the Site that are only available to members
                        who have paid to upgrade their account.</li>
                    <li><p>You agree not to use the Site in any
                        improper or unlawful manner or in breach of any legislation or licence
                        that applies to you.</li>
                    <li><p>Without limiting the foregoing, you agree that when using the Site you will not:</li>
                    <ol>
                        <li><p>harass others or disclose personal information about others that could amount to harassment;</li>
                        <li><p>publish, post, upload, store, distribute or disseminate any unlawful, defamatory,
                            infringing, obscene, sexually explicit, harmful, confidential,
                            libellous, hateful, threatening or otherwise illegal material or
                            information, or anything which might constitute a criminal or civil
                            offence;</li>
                        <li><p>upload files that contain software or other material which are the Intellectual Property
                            Rights of any third party, or which are protected by rights of privacy
                            or publicity of any third party without having received all necessary
                            consents;</li>
                        <li><p>upload files that contain viruses, corrupted files, or any other software or programs
                            that may interfere with or damage the operation of the Site or any other
                            computer;</li>
                        <li><p>impersonate others or create false accounts or adverts on the Site;</li>
                        <li><p>promote any activity that is illegal;</li>
                        <li><p>use software to harvest information from the Site; or</li>
                        <li><p>send chain letters, junk mail, 'spamming' material or any other form of bulk communication.</li>
                    </ol>

                    <li><p>You agree to comply with all reasonable
                        instructions that we may give you regarding your use of the Site.</li>
                    <li><p>You are responsible for obtaining (at
                        your own cost) all necessary equipment and telecommunications services
                        required to access and use the Site.</li>
                    <li><p>You agree that we may suspend access to
                        the Site temporarily and without notice in the case of system failure,
                        maintenance or repair or for reasons beyond our control and we shall not
                        be liable to you in any way for such suspended access.</li>
                </ol><br>
                
                <li><p><b>Posting and responding to adverts on the Site</b></li>
                <ol>
                    <li><p>You need to register an account with us
                        in order to post an advert on the Site. There are two types of advert
                        that can be posted on the Site. The first is an advert that can be posted
                        by any normal non-paying member who has registered an account with us
                        (a <b>"Free Ad"</b>). The second type of advert,
                        "Bold Ads", can only be posted by members who have paid to
                        upgrade their account. Bold Ads appear highlighted in blue on the search
                        results pages and feature above Free Ads of the same age. For more on the
                        benefits of Bold Ads please refer to the <a (click)="goToFaq($event)"> FAQ section </a>.</li>
                    <li><p>To post an advert on the Site click on
                        the "Manage ad" link on the members dashboard and follow the
                        instructions. By posting an advert on the Site you are representing and
                        warranting (which is a legal promise) to us that:</li>
                    <ol>
                        <li><p>all the information you include in your advert will be truthful and, to the best
                            of your knowledge and belief, accurate and not in any way misleading;</li>
                        <li><p>any photos or videos you include in your advert will be current and accurate
                            representations of the room(s) you are advertising;</li>
                        <li><p>You have the express right to advertise the room or property in question (we may
                            require proof of this); and</li>
                        <li><p>all adverts will comply with these Terms.</li>
                    </ol>
                    <li><p>You are responsible for the content of
                        any adverts you post to the Site, including any errors, omissions or
                        inaccuracies contained in such adverts. We accept no liability to you or
                        any other person for the content of any adverts posted on our Site. We
                        advise that you check the content of your advert immediately after
                        posting it to the Site to ensure you are happy with it. You may edit or
                        remove any adverts you have placed on the Site at any time by logging
                        into your account and clicking on the Manage Ads link on the member's
                        dashboard. For more details on how to do this please refer to the <a (click)="goToFaq($event)"> FAQ section </a>.</li>
                    <li><p>You may contact other members of the Site via our on-site messaging system. 
                        <b>However, please be advised we will not reveal any of our members' contact details or other personal
                            information without the relevant members' permission.</b> We do not
                        routinely monitor all communications between Users via our on-site
                        messaging system, but we may use software to track communications and we
                        reserve the right to monitor them in order to investigate any suspected
                        breach of our terms and conditions, any illegal behaviour or any other
                        misuse of our service, or for any other reasonable reason as determined
                        by us from time to time.</li>
                    <li><p>We reserve the right to refuse to list
                        and/or deactivate any advertisements or edit any User Generated Content
                        we deem, in our reasonable discretion, to be in violation of these Terms.
                        We also reserve the right to suspend or deactivate (with or without
                        notice) any accounts we deem to be in violation of these Terms.<br>
                        This includes, but is not limited to:</li>
                    <ol>
                        <li><p>Posting multiple ads for the same room/property;</li>
                        <li><p>Posting dummy ads for rooms that aren't available; and</li>
                        <li><p>Deleting and reposting ads multiple times to make them appear as 'New Today'</li>
                    </ol>
                    <p>In such cases no refunds
                        will be given. In the event we receive any complaints about an advertisement or
                        advertiser, we reserve the right to temporarily suspend the advertisement or
                        account in question while we investigate the matter. After carrying out such an
                        investigation we may terminate your account if we deem it appropriate to do so
                        in our absolute discretion.</p>

                    <li><p>We reserve the right to publish any
                        adverts you post to the Site across the Room Auction network, as well as
                        uploading any adverts posted to the Site or to other relevant portal
                        websites from time to time, such as other third party property search
                        websites. <b>We will never post users' contact details with their
                            ads on third party websites.</b></li>
                </ol><br>

                <li><p><b>Upgrading your account</b></li>
                <ol>
                    <li><p>You may upgrade your account at any
                        time by clicking on the "Upgrade" link on the "My
                        account" section of our Site.</li>
                    <li><p>For more details of the different
                        upgrade options available, and payment options on offer, please refer to the
                        Upgrade section of our Site.</li>
                    <li><p>When you choose to upgrade your account
                        we will charge you a payment for the upgrade period you have chosen.
                        Payments will be processed by our third party payment processor,
                        currently WorldPay, using their secure server or can be made using PayPal
                        or any other payment method as advertised on the Site from time to time.</li>
                    <li><p>Your account will automatically revert
                        to a standard membership at the end of your upgrade period unless you opt
                        to extend your upgrade period by making a further payment. We will only
                        charge you for the period you have selected to upgrade for. By giving us
                        your payment card details you are not granting us any continuing
                        authority to automatically extend your upgrade period unless you have
                        specifically opted to make regular, ongoing payments.</li>
                    <li><p>Once you've confirmed the payment to
                        upgrade your account and we have sent you a confirmation email confirming
                        your purchase a contract for upgraded subscription between you and us
                        will have been formed and you'll be able to receive the benefits of
                        upgrading your membership immediately. You have the right to cancel your
                        contract for upgraded subscription for up to 14 days after the contract
                        has been formed under the Consumer Contracts (Information, Cancellation
                        and Additional Charges Regulations) 2013 (the "Regulations").
                        Please note that in accordance with the Regulations once you have started
                        to receive the benefits of our upgraded service you will not be entitled
                        to a full refund and we are entitled to charge you a pro rata amount for
                        any services you have already received. The amount you are refunded will
                        depend on when you decide to cancel your contract and will be calculated
                        as follows:<br>
                        <br></li>
                    <ol>
                        <li><p>if you cancel
                            your subscription within the first 7 days of your contract with us you
                            will be charged a pro rata amount for each day or part of a day of your
                            subscription period that you have used</li>
                        <li><p>the pro rata
                            amount you will be charged will be based on the full price for a 7 day
                            subscription, i.e. 1/7th of the price of a 7 day subscription will be
                            deducted from the total amount you have paid for each day or part of a
                            day that you have used and you will be refunded the remainder of your
                            payment;</li>
                        <li><p>for the purposes of calculating the amount to be refunded, a 'day' means a
                            complete 24 hour period starting from the time that we send you
                            confirmation of your upgraded subscription purchase;</li>
                        <li><p>the avoidance of doubt any cancellation requests received in the first 24 hours of
                            your contract will incur 1 days' charge; requests received after 24
                            hours but before 48 hours have passed will incur 2 days' charge and so
                            on; and</li>
                        <li><p>if you cancel your subscription after 7 days but before the end of the 14 day period
                            we will charge you the full cost of purchasing a 7 day subscription
                            period as you have already received the benefit of a full 7 day period
                            but we will refund you the remainder or your payment.</li>
                    </ol>
                    <li><p>Refunds will be made via your original method of payment and will usually be processed within [7] working days.</li>
                    <li><p>Please note that you will no longer
                        have the right to cancel your upgraded subscription after your contract
                        for upgraded subscription has been fully performed which in the case of a
                        contract for a 7 day subscription period will be after the expiry of the
                        7 day period.</li>
                </ol><br>

                <li><p><b>Additional features for landlords</b></li>
                <ol>
                    <li><p>This section of these Terms only
                        applies to members of the Site who are acting as landlords. Any landlords
                        that have registered an account with us, and are paying for an upgraded
                        subscription service, may also elect to take advantage of some of the
                        additional features and services we offer to landlords as described in
                        this section of these Terms.</li>
                    <ol>
                        <li><p>Featured Ads</li>
                        <ol>
                            <li><p>We operate a pay per click system, which you can use to give your adverts greater
                                prominence in search listings. Search listings will generally be
                                displayed by relevance to a user's search query. However, we also
                                permit landlords to set their own pay per click fees to promote their
                                adverts (the <b>"PPC Rate"</b>). Adverts that are
                                subject to such pay per click arrangements will receive greater
                                prominence than normal adverts. Adverts that have the highest PPC Rate
                                set for the relevant search terms will be given the greatest prominence
                                in the search listings on a declining scale.</li>

                            <li><p>If you want to find out more about Featured Ads, email 
                                <a href="">info@roomauction.co.uk</a> or call <a href="">02033978425</a>.</li>
                        </ol>
                        <li><p>Branded Ads</li>
                        <ol>
                            <li><p>We may also permit certain landlords who are advertising a large number of
                                properties or rooms on our Site to include their own branding on their
                                adverts and/or to be awarded "pro landlord status" and have
                                that status recognised in their adverts. These additional services are
                                offered entirely at our discretion and you may be required to pay
                                additional fees and/or sign up to additional terms before you are able
                                to take advantage of them. If you're interested if finding out more
                                please contact us to discuss this further.</li>
                        </ol>
                        <li><p>Lodger and tenancy agreements</li>
                        <ol>
                            <li><p>We always recommend that you enter into a lodger agreement when acting as a live
                                in landlord. Both tenancy and lodgers agreements are available to
                                purchase and download from our Site. To purchase an agreement simply
                                click on the link to download the agreement, enter your payment details
                                and click to confirm the purchase. Please note that, once you have
                                downloaded the agreement, you will not be able to cancel the purchase
                                and claim a refund as you will have already received the benefit of
                                this service.</li>
                            <li><p>Both our lodger and tenancy agreements have been provided by a third party. We
                                cannot be held responsible for any failure or deficiency in such
                                agreements and any reliance you place on them is entirely at your own
                                risk. You are advised to make your own inquiries and check that the
                                agreement is suitable for your needs before entering into any legally
                                binding commitment.</li>
                        </ol>
                    </ol>
                </ol><br>

                <li><p><b>User generated content</b></li>
                <ol>
                    <li><p>In these Terms:</li>
                    <ol>
                        <li><p><b>"Intellectual Property Rights"</b> means patents, rights in
                            inventions, trademarks and service marks, domain names, registered
                            designs and design rights, copyright (including rights in computer
                            software and databases), database rights, moral rights and any rights of
                            privacy or confidentiality (in each case whether registered or
                            unregistered and for the full period of protection including any
                            extensions, revivals and renewals) and including any applications for
                            the same and the right to apply for any of the foregoing anywhere in the
                            world, and all similar or analogous rights anywhere in the world; and</li>
                        <li><p><b>"User Generated Content"</b> means any information, text,
                            image, photo, audio, video, works of authorship or other content or
                            materials of any kind which are uploaded, posted, published, displayed,
                            transmitted, shared or otherwise made available by you on the Site, including
                            any advert or any such content or materials included in any advert.</li>
                    </ol>
                    <li><p>The Site includes functionality that
                        enables you to submit or upload User Generated Content directly to the
                        Site, including, without limitation, by posting adverts on the Site. By
                        posting any User Generated Content to the Site you are representing and
                        warranting (which is a legal promise) to us that you have not posted or
                        submitted any User Generated Content to the Site:</li>
                    <ol>
                        <li><p>which is confidential, defamatory, offensive, infringing, obscene, sexually
                            explicit, indecent, discriminatory or otherwise unlawful or
                            objectionable;</li>
                        <li><p>that you do not own or for which you do not have the permission of the owner or any
                            other relevant person who may have rights in or connected to such User
                            Generated Content, including any individuals who appear in any photos or
                            other images that you upload to the Site;</li>
                        <li><p>if submitting it to the Site would be a breach of the Data Protection Act 1998 or any
                            other applicable data protection or privacy legislation; or</li>
                        <li><p>if submitting it to the Site would infringe the Intellectual Property Rights of
                            another person.</li>
                    </ol>
                    <li><p>Room Auction is committed to equal
                        opportunities. You agree that you will not advertise on the Site in such
                        a way as to discriminate against any particular nationality, racial,
                        ethnic, or religious group, sexual orientation, age, gender or
                        disability. </li>
                    <li><p>You must, by law, ensure that all
                        adverts you post to the Site contain full details of any fees associated
                        with entering into the relevant lodging or tenancy arrangement, including
                        any agency fees that may apply.</li>
                    <li><p>You acknowledge that it is your
                        responsibility to ensure that your adverts comply with all applicable
                        laws, including any laws in relation to discrimination and transparency
                        of pricing.</li>
                    <li><p>You acknowledge that any User Generated
                        Content that you post to the Site may be seen by other users of the Site.</li>
                    <li><p>You are responsible for your
                        relationship with other members of the Site. However, we reserve the
                        right, but are not obliged, to monitor disputes between you and other
                        members.</li>
                    <li><p>You agree that you shall indemnify and
                        compensate us for any loss, liability, claim, damage or expense
                        (including reasonable legal fees and court fees) suffered by us as a
                        result of:</li>
                    <ol>
                        <li><p>any breach by you of the warranties and representations in section 7.2; and</li>
                        <li><p>any third party claim against us in connection with any adverts posted to the Site
                            under your account.</li>
                    </ol>
                </ol><br>

                <li><p><b>Notice and take down procedure</b></li>
                <ol>
                    <li><p>Although we take reasonable steps to
                        scan adverts that are posted to our Site for spam and scams, we do not
                        actively monitor all the adverts and other User Generated Content on the
                        Site. We do not therefore accept any responsibility or liability for any
                        User Generated Content on the Site.</li>
                    <li><p>If you become aware that other members
                        of the Site have posted any adverts or other User Generated Content that
                        is inaccurate, inappropriate, offensive (or does not comply with any of
                        the provisions of these Terms) you may notify us by contacting us
                        at <a href="">info@sroomauction.co.uk</a>.</li>
                    <li><p>We may, without notice, remove any adverts or other User Generated Content posted to the Site that, in our
                        sole judgement, violates these Terms or may be offensive, illegal,
                        inaccurate, misleading or may violate the rights, or harm or threaten the
                        safety of any person.</li>
                    <li><p>For the avoidance of doubt, any
                        decision we make in connection with the removal of any adverts or other
                        User Generated Content from the Site is final and we accept no liability
                        to you in respect of any such decision.</li>
                </ol><br>

                <li><p><b>Intellectual Property</b></li>
                <ol>
                    <li><p>We do not claim any ownership of any
                        Intellectual Property Rights in the User Generated Content that you post
                        to the Site. After posting any User Generated Content you retain all
                        rights of ownership in it and you may use the User Generated Content in
                        any way you choose (provided it does not breach these Terms).</li>
                    <li><p>By submitting any User Generated
                        Content to the Site you automatically grant us the indefinite right to
                        reproduce, display, modify, manage, distribute and store such User
                        Generated Content as part of the Site or as part of any materials used to
                        promote or advertise the Site anywhere in the world.</li>
                    <li><p>We will not be under any obligation
                        whatsoever to pay you for any of the User Generated Content you upload to
                        the Site.</li>
                    <li><p>Save in respect of the User Generated
                        Content, all Intellectual Property Rights in and to the Site and all
                        content and materials contained on the Site are owned by and shall remain
                        owned by us or our licensors. You may view, download and print any
                        materials and information made available to you through the Site subject
                        to the following conditions:</li>
                    <ol>
                        <li><p>the material may only be used for your personal non-commercial use;</li>
                        <li><p>the material  shall not be reproduced or included in any other work or publication in
                            any medium;</li>
                        <li><p>the material may not be modified or altered in any way;</li>
                        <li><p>the material may not be distributed or sold to any third party; and</li>
                        <li><p>you may not remove any copyright or other proprietary notices contained in the material.</li>
                    </ol>
                    <li><p>These Terms are not intended to prevent
                        you recording in manual form any individual item of information, or
                        disclosing any individual item of information, free of charge, to friends
                        or relations for non-commercial purposes, provided you take all
                        reasonable steps to ensure that any person to whom you may disclose that
                        information complies with these Terms.</li>
                </ol><br>

                <li><p><b>Disclaimers</b></li>
                <ol>
                    <li><p>To the fullest extent permitted by
                        applicable law and, except as expressly provided in these Terms, the Site
                        and all content, products and services provided through it are provided
                        on an "as is" basis. We do not make any representation or
                        warranty of any kind, either express or implied (whether by common law,
                        custom, statute or otherwise), in relation to the Site or any content,
                        products and services provided through it including, without limitation,
                        any warranties in relation to fitness for a particular purpose or in
                        relation to the quality, completeness, accuracy or reliability of the
                        Site and all content, products and services provided through it.</li>
                    <li><p>Without limiting the generality of the
                        foregoing you acknowledge and agree that any rooms, flats, houses,
                        properties or tenancy arrangements are provided by our members and not by
                        us. We have no control over, nor accept any responsibility or liability
                        for, any such arrangements or issues you may encounter with them.</li>
                    <li><p>We do not inspect any of the properties
                        or rooms that feature in adverts on our Site. We strongly advise you to
                        inspect properties thoroughly before you make any binding commitments in
                        respect of any properties or rooms listed on our Site.</li>
                    <li><p>The information made available on the
                        Site, whether posted by us or by any other users, is provided for
                        information purposes only. We cannot guarantee that any adverts or other
                        information provided on the Site will be correct, accurate, up to date or
                        meet your needs or requirements. The information provided on the Site is
                        not intended to be professional or legal advice of any kind and should
                        not be relied on as such. Any reliance you place on any materials or
                        information made available on the Site is entirely at your own risk.</li>
                    <li><p>Although we do our utmost to ensure a
                        reliable service we do not guarantee that the Site will always be
                        available or error free, that defects will be corrected, or that the Site
                        or the server that makes it available are or will be always free of
                        viruses or other harmful components.</li>
                    <li><p>Please note that some jurisdictions may
                        not allow the exclusion of implied warranties, so some of the above
                        exclusions may not apply to you. Please check the local laws of the
                        jurisdiction in which you are resident to determine the extent to which
                        any implied warranties may be relevant to our legal relationship with
                        you.</li>
                    <li><p>Nothing in these Terms is intended to
                        disclaim or exclude any warranty or liability that cannot be disclaimed
                        or excluded by operation of applicable law.</li>
                </ol><br>

                <li><p><b>Limitation of liability</b></li>
                <ol>
                    <li><p>Nothing in these Terms limits or
                        excludes our liability for: (a) death or personal injury caused by
                        negligence; (b) any loss suffered by you as a result of your reliance on
                        any fraudulent misrepresentation made by us; or (c) any other liability which
                        may not be limited or excluded by applicable law.</li>
                    <li><p>Subject to section 11.1 above, you
                        agree that we shall not be liable for: (a) any indirect loss, claim or
                        damage, or any punitive, special, incidental or consequential damages of
                        any kind; or (b) any direct or indirect loss of profit, anticipated
                        savings, opportunity or business and loss, corruption or damage to data,
                        in each case whether based in contract, tort (including negligence),
                        strict liability, or otherwise, which arises out of or is in any way
                        connected with: (i) any use of this Site or the services provided through
                        it; (ii) any failure or delay in the use of any component of the Site or
                        any service including, without limitation, any unavailability of the Site
                        or the services provided through it irrespective of the duration of any
                        period of unavailability; (iii) any use of or reliance upon any adverts,
                        information, material, or other products or services offered through the
                        Site, in all cases even if we have been forewarned of the possibility of
                        such loss or damage; and (iv) any tenancy or lodging arrangements of any
                        kind that you enter into as a result of using our Site.</li>
                    <li><p>Subject to section 11.1 above and
                        without limiting section 11.2 in any way our total aggregate liability to
                        you under these Terms whether based in contract, tort (including
                        negligence), strict liability, or otherwise shall be limited to direct
                        losses not to exceed the total payments you have made to us for services
                        offered to you through the Site in the 12 months preceding your claim.</li>
                </ol><br>

                <li><p><b>Third party sites</b></li>
                <ol>
                    <li><p>This Site contains links to other
                        websites operated by third parties that are not under our control. We
                        make no guarantees, warranties or representations whatsoever about any
                        third party websites that you may access through this Site, or any
                        services that may be provided through such third party websites.</li>
                    <li><p>Without limiting the foregoing, please
                        note that any third party websites that you may access by clicking on a
                        link available on our Site are in no way approved, vetted, checked or endorsed
                        by us and you agree that we shall not be responsible or in any way liable
                        to you for the content, accuracy, compliance with relevant laws or
                        accessibility of any information, data, advice or statements or for the
                        quality of any products or services available on such third party
                        websites. If you choose to access any such third party website that we do
                        not control, you do so entirely at your own risk. In addition, please
                        note that your use of any such third party website may be subject to that
                        third party's additional terms and conditions.</li>
                </ol><br>

                <li><p><b>Termination</b></li>
                <ol>
                    <li><p>We may remove the Site or cease the
                        provision of any of the services made available through it, or terminate
                        your membership of the Site, at any time in our sole discretion for any
                        reason whatsoever.</li>
                    <li><p>In the event that we remove the Site or
                        terminate your account through no fault of your own and in circumstances
                        where you have not breached these Terms you will be entitled to a refund
                        for any unused subscription fees that you have pre-paid to us.</li>
                    <li><p>We may in our absolute discretion
                        either suspend or terminate your account if you breach any of these
                        Terms. If you are found to have breached these Terms and we choose to
                        terminate your account you will not be entitled to a refund of any
                        subscription fees you have pre-paid to us.</li>
                    <li><p>You may de-activate (either temporarily
                        or permanently) your account with us at any time by notifying us that you
                        wish to do so at the following email address <a href="">info@roomauction.co.uk</a>.</li>
                    <li><p>Termination of these Terms and/or your
                        account with us, howsoever caused, shall not affect the accrued rights
                        and liabilities of either you or us as at the time of such termination.</li>
                </ol><br>

                <li><p><b>Data Protection and Privacy</b></li>
                <ol>
                    <li><p>We will only use any personal information that we may collect about you in 
                        accordance with our <a (click)="goToPrivacyPolicy($event)">privacy policy</a> Our privacy policy is an
                        important part of these Terms and it is important that you read it. By
                        accepting these Terms you also accept and consent to our use of your
                        personal data in accordance with our privacy policy.</li>
                </ol><br>

                <li><p><b>General</b></li>
                <ol>
                    <li><p>These Terms and our privacy policy set
                        out the full extent of our obligations and liabilities concerning the
                        Site and the services offered through it and replace any previous
                        agreements and understandings between us and you.</li>
                    <li><p>Subject to section 11.1, you shall have
                        no remedy in respect of any untrue statement made to you upon which you
                        relied in entering into these Terms other than for any breach of our
                        express obligations set out in these Terms.</li>
                    <li><p>These Terms do not create or infer any
                        rights that are enforceable by any person who is not party to them.</li>
                    <li><p>You may not assign, sub-license or
                        otherwise transfer any of your rights and obligations in these Terms to
                        any other person.</li>
                    <li><p>If we decide not to exercise or enforce
                        any right that we have against you at a particular time, then this does
                        not prevent us from later deciding to exercise or enforce that right.</li>
                    <li><p>If any part of these Terms is found to
                        be illegal, invalid or otherwise unenforceable by a court or regulator,
                        then, where required, that part shall be deleted from the Terms and the
                        remaining parts of the Terms will continue to be enforceable.</li>
                    <li><p>These Terms, including their subject
                        matter and formation, are governed by English law. You agree that the
                        courts of England and Wales will have exclusive jurisdiction over any
                        dispute arising out of or in connection with these Terms, save that if
                        you are a resident of Northern Ireland or Scotland you may also bring
                        proceedings in the jurisdiction in which you are resident.</li>
                </ol> <br>
            </ol><br>
        </div>
    </div>
</div>
