<div class="row margin-top-align">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group">
        <ul class="profile-left-sidebar-ul">
            <li><a (click)="myprofile($event)">Profile</a></li>
            <li><a (click)="editprofile($event)">Edit Profile</a></li>
            <li><a (click)="uploadimg($event)">Upload Profile Picture</a></li>
            <li><a (click)="uploaddocument($event)">Profile Verification</a></li>
            <li><a class="active" (click)="uploadlogo($event)">Agent Logo</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <!--        <style>
                    .my-drop-zone { border: dotted 3px lightgray; }
                    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
                    .another-file-over-class { border: dotted 3px green; }
        
                    html, body { height: 100%; }
                </style>
        
                <div class="container">
                    <br/>
                    <br/>
                    <br/>-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="profile-verification-heading">Verify Your Profile</h2>
            </div>
        </div>
        <div class="row margin-bottom-50px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h5>Select file(can be multiple file selection) </h5>
                <h5>Logo Size (Width: 150px, Height: 100px) </h5>
                <div class="row">
                    <div class="col-xs-5 col-sm-4 col-md-2 col-lg-2">
                        <label class="fileContainer common-custom-button">
                            Click here
                            <input type="file" ng2FileSelect [uploader]="uploader" multiple  />
                        </label>
                    </div>
                </div>
                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader?.queue?.length }}</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th >Size</th>
                            <th >Progress</th>
                            <th >Status</th>
                            <th >Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td  *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td width="10%" *ngIf="uploader.isHTML5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td>
                                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs"
                                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs"
                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs"
                                        (click)="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        Queue progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm"
                            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-sm"
                            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>

            </div>

        </div>

    </div>
</div>



<!--    This is your profile

    <br/>Profile Info<br/>
    First Name: {{user.firstName}}
    Last Name: {{user.lastName}}
    Email: {{user.email}}
    Cell: {{user.cellNo}}
    Image: {{user.img}}-->