<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="dashboard-welcome-note">DASHBOARD</h2>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                <a (click)="myads($event)">
                    <div class="dashboard-box-option-layout">
                        <img class="img-responsive" src="resources/images/manage-advert.png">
                        <h2>Manage Advert </h2>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                <a (click)="inbox($event)">
                    <div class="dashboard-box-option-layout">
                          <img class="img-responsive" src="resources/images/message.png">
                        <h2>Messages </h2>
                    </div>
                </a>
            </div>            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                <a (click)="account($event)">
                    <div class="dashboard-box-option-layout">
                         <img class="img-responsive" src="resources/images/account-settings.png">
                        <h2>Account </h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                <a (click)="myprofile($event)">
                    <div class="dashboard-box-option-layout">
                         <img class="img-responsive" src="resources/images/profile.png">
                        <h2>Profile </h2>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                <a (click)="basicsearch($event)">
                    <div class="dashboard-box-option-layout">
                         <img class="img-responsive" src="resources/images/search.png">
                        <h2>Search </h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>