<script type="text/javascript">
    $(document).ready(function () {
        activaTab('step1');
    });
    function activaTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>

<div bsModal #manageProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-bg">
                <h4 class="modal-title pull-left" style="color: #FFF;">Manage Ad</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center modal-body-text">
                {{successMessage}}<br/>
                {{errorMessage}}
            </div>
            <div class="modal-footer modal-footer-bg"></div>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <h3 class="create-ad-heading">Create Your Advertise</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tabbable tabs-left">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#step1" role="tab" data-toggle="tab">STEP 1</a></li>
                        <li><a href="#step2" role="tab" data-toggle="tab">STEP 2</a></li>
                        <li><a href="#step3" role="tab" data-toggle="tab">STEP 3</a></li>
                        <li><a href="#step4" role="tab" data-toggle="tab">STEP 4</a></li>
                        <li><a href="#step5" role="tab" data-toggle="tab">STEP 5</a></li>
                        <li><a href="#step6" role="tab" data-toggle="tab">STEP 6</a></li>
                        <li><a href="#step7" role="tab" data-toggle="tab">STEP 7</a></li>
                        <li><a href="#step8" role="tab" data-toggle="tab">STEP 8</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                            <form role="form" (submit)="saveProduct($event)" method="post">
                                <div class="tab-content">                                
                                    <div class="tab-pane active" id="step1">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">I have for Rent</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedProductCategory" name="selectedProductCategory" class="form-control select-custom-field">
                                                    <option *ngFor="let productCategory of productCategoryList" [ngValue]="productCategory">{{productCategory.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Size of property</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedProductSize" name="productSize" class="form-control select-custom-field">
                                                    <option *ngFor="let productSize of productSizeList" [ngValue]="productSize">{{productSize.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Type of property</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedProductType" name="productType" class="form-control select-custom-field">
                                                    <option *ngFor="let productType of productTypeList" [ngValue]="productType">{{productType.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-offset-6 col-xs-6 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                                                <a href="#step2" role="tab" data-toggle="tab"><button type="button" id="step1-next" name="step1-next" class="form-control common-custom-button">Next Step</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step2">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Guide Price (£)</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <input [(ngModel)]="product.basePrice" class="form-control input-custom-field" name="base_price" placeholder="Price" type="text" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Area</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedLocation" name="location" class="form-control select-custom-field">
                                                    <option *ngFor="let location of locationList" [ngValue]="location">{{location.searchString}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Amenities</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <div id="{{amenity.id}}" *ngFor="let amenity of amenityList">
                                                     <p><input type="checkbox"
                                                          name="productAmenities"
                                                          value="{{amenity.title}}"
                                                          [checked]="setCurrentAmenities(amenity?.id)"
                                                          (change)="updateCheckedAmenities(amenity, $event)"
                                                          /> {{amenity.title}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#step1" role="tab" data-toggle="tab"><button type="button" id="step2-previous" name="step2-previous" class="form-control common-custom-button">Previous Step</button></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                                                <a href="#step3" role="tab" data-toggle="tab"><button type="button" id="step2-next" name="step2-next" class="form-control common-custom-button">Next Step</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step3">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Available From</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <input name="availableFrom" class="form-control input-custom-field" type="text" 
                                                    [ngModel]="availableFrom | date:'dd-MM-yyyy'" (ngModelChange)="availableFrom = $event;"
                                                    (focus)="showAvailableFromDatePicker = true" >
                                                <div class="start-date" *ngIf="showAvailableFromDatePicker" >
                                                    <datepicker name="availableFromDatePicker" [(ngModel)]="availableFrom" [minDate]="minDate2" [showWeeks]="false" (selectionDone) ="showAvailableFromDatePicker = false"  ></datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Available To</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <input name="availableTo" class="form-control input-custom-field" type="text" 
                                                    [ngModel]="availableTo | date:'dd-MM-yyyy'" (ngModelChange)="availableTo = $event;"
                                                    (focus)="showAvailableToDatePicker = true" >
                                                <div class="start-date" *ngIf="showAvailableToDatePicker" >
                                                    <datepicker name="showAvailableToDatePicker" [(ngModel)]="availableTo" [minDate]="minDate2" [showWeeks]="false" (selectionDone) ="showAvailableToDatePicker = false"  ></datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Ongoing</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <div>
                                                     <p><input type="checkbox"
                                                          [(ngModel)]="product.onGoing"
                                                          name="onGoing"
                                                          (change)="updateChangeOnGoing($event)"
                                                          [checked]="product.onGoing"
                                                          />
                                                     </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Min Stay</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedMinStay" name="minStay" class="form-control select-custom-field">
                                                    <option *ngFor="let minStay of stayList" [ngValue]="minStay">{{minStay.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Max Stay</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedMaxStay" name="maxStay" class="form-control select-custom-field">
                                                    <option *ngFor="let maxStay of stayList" [ngValue]="maxStay">{{maxStay.title}}</option>
                                                </select>
                                            </div>
                                        </div>                                        
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Availabilities</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <div id="{{availability.id}}" *ngFor="let availability of availabilityList">
                                                     <p><input type="checkbox"
                                                          name="productAvailabilitiyList"
                                                          value="{{availability.title}}"
                                                          [checked]="setCurrentAvailabilities(availability?.id)"
                                                          (change)="updateCheckedAvailabilities(availability, $event)"
                                                          /> {{availability.title}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#step2" role="tab" data-toggle="tab"><button type="button" id="step3-previous" name="step3-previous" class="form-control common-custom-button">Previous Step</button></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                                                <a href="#step4" role="tab" data-toggle="tab"><button type="button" id="step3-next" name="step3-next" class="form-control common-custom-button">Next Step</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step4">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Smoking</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedSmoking" name="smoking" class="form-control select-custom-field">
                                                    <option *ngFor="let smoking of smokingList" [ngValue]="smoking">{{smoking.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Occupation</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedOccupation" name="occupation" class="form-control select-custom-field">
                                                    <option *ngFor="let occupation of occupationList" [ngValue]="occupation">{{occupation.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Pets</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedPet" name="pet" class="form-control select-custom-field">
                                                    <option *ngFor="let pet of petList" [ngValue]="pet">{{pet.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#step3" role="tab" data-toggle="tab"><button type="button" id="step4-previous" name="step4-previous" class="form-control common-custom-button">Previous Step</button></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                                                <a href="#step5" role="tab" data-toggle="tab"><button type="button" id="step4-next" name="step4-next" class="form-control common-custom-button">Next Step</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step5">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Title</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <input [(ngModel)]="product.title" class="form-control input-custom-field" name="title" placeholder="Title" type="text" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Description</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <textarea [(ngModel)]="product.description" name="description" rows="8" class="form-control input-custom-field" placeholder="Description Here..."></textarea>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Your Name</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <input [(ngModel)]="product.firstName" name="firstName" class="form-control input-custom-field" placeholder="First Name" type="text"/>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <input [(ngModel)]="product.lastName" name="lastName" class="form-control input-custom-field" placeholder="Last Name" type="text">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Company Name</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <input [(ngModel)]="product.companyName" name="companyName" class="form-control input-custom-field" placeholder="Company Name" type="text"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Telephone</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <input [(ngModel)]="product.phone" name="phone" class="form-control input-custom-field" placeholder="Telephone" type="text"/>
                                            </div>
                                        </div>
                                       <div class="row form-group">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#step4" role="tab" data-toggle="tab"> <button type="button" id="step5-previous" name="step5-previous" class="form-control common-custom-button">Previous Step</button></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                                                <a href="#step6" role="tab" data-toggle="tab"><button type="button" id="step5-next" name="step5-next" class="form-control common-custom-button">Next Step</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step6">
                                        <div class="row  margin-bottom-50px">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h5>Select file(can be multiple file selection)</h5>
                                                <h5>Image Size (Width: 328px, Height: 212px) </h5>
                                                <div class="row">
                                                    <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                                                        <label class="fileContainer common-custom-button">
                                                            Click here
                                                            <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
                                                        </label>
                                                    </div>
                                                </div>

                                                <h3>Upload queue</h3>
                                                <p>Queue length: {{ uploader?.queue?.length }}</p>

                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Size</th>
                                                            <th>Progress</th>
                                                            <th>Status</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of uploader.queue">
                                                            <td><strong>{{ item?.file?.name }}</strong></td>
                                                            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                                            <td *ngIf="uploader.isHTML5">
                                                                <div class="progress" style="margin-bottom: 0;">
                                                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                            </td>
                                                            <td nowrap>
                                                                <button type="button" class="btn btn-success btn-xs"
                                                                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                                                </button>
                                                                <button type="button" class="btn btn-warning btn-xs"
                                                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-xs"
                                                                        (click)="item.remove()">
                                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div>
                                                    <div>
                                                        Queue progress:
                                                        <div class="progress" style="">
                                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-success btn-sm"
                                                            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-sm"
                                                            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                                        <span class="glyphicon glyphicon-trash"></span> Remove all
                                                    </button>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row form-group">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#step5" role="tab" data-toggle="tab"><button type="button" id="step5-previous" name="step5-previous" class="form-control common-custom-button">Previous Step</button></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                                                <a href="#step7" role="tab" data-toggle="tab"><button type="button" id="step5-next" name="step5-next" class="form-control common-custom-button">Next Step</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step7">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Auction Start Date</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <input name="bidStartDate" class="form-control input-custom-field" type="text" 
                                                    [ngModel]="bidStartDate | date:'dd-MM-yyyy'" (ngModelChange)="bidStartDate = $event;"
                                                    (focus)="showBidStartDateDatePicker = true" >
                                                <div class="start-date" *ngIf="showBidStartDateDatePicker" >
                                                    <datepicker name="showBidStartDateDatePicker" [(ngModel)]="bidStartDate" [minDate]="minDate2" [showWeeks]="false" (selectionDone) ="showBidStartDateDatePicker = false"  ></datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label"></h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedBidStartTime" name="selectedBidStartTime" class="form-control select-custom-field">
                                                    <option *ngFor="let bidTime of bidTimeList" [ngValue]="bidTime">{{bidTime.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Auction End Date</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <input name="bidEndDate" class="form-control input-custom-field" type="text" 
                                                    [ngModel]="bidEndDate | date:'dd-MM-yyyy'" (ngModelChange)="bidEndDate = $event;"
                                                    (focus)="showBidEndDateDatePicker = true" >
                                                <div class="start-date" *ngIf="showBidEndDateDatePicker" >
                                                    <datepicker name="showBidEndDateDatePicker" [(ngModel)]="bidEndDate" [minDate]="minDate2" [showWeeks]="false" (selectionDone) ="showBidEndDateDatePicker = false"  ></datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label"></h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <select [(ngModel)]="selectedBidEndTime" name="selectedBidEndTime" class="form-control select-custom-field">
                                                    <option *ngFor="let bidTime of bidTimeList" [ngValue]="bidTime">{{bidTime.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#step6" role="tab" data-toggle="tab"><button type="button" id="step7-previous" name="step7-previous" class="form-control common-custom-button">Previous Step</button></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                                                <a href="#step8" role="tab" data-toggle="tab"><button type="button" id="step7-next" name="step7-next" class="form-control common-custom-button">Next Step</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step8">
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label">Daily Email Alerts</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <input type="checkbox"
                                                    [(ngModel)]="product.dailyEmailAlert"
                                                    name="dailyEmailAlert"
                                                    [checked]="product.dailyEmailAlert"/>
                                                    Yes, please send me daily summary emails of new Rooms Wanted adverts matching my requirements      
                                                 </p>
                                                <!--<p id="dailyEmailAlert"  class="text-justify"><input type="checkbox"/>  Yes, please send me daily summary emails of new Rooms Wanted adverts matching my requirements </p>-->
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <h5 class="create-ad-label"> Instant Email Alerts</h5>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <input type="checkbox"
                                                    [(ngModel)]="product.instantEmailAlert"
                                                    name="instantEmailAlert"
                                                    [checked]="product.instantEmailAlert"/>
                                                    Yes, please send me emails of new Rooms Wanted adverts matching my requirements as soon as they are placed on the website
                                                 </p>
                                                <!--<p id="instantEmailAlert" class="text-justify"><input type="checkbox"/>  Yes, please send me emails of new Rooms Wanted adverts matching my requirements as soon as they are placed on the website  </p>-->
                                            </div>
                                        </div>
                                         <div class="row form-group">
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#step7" role="tab" data-toggle="tab"><button type="button" id="step8-previous" name="step8-previous" class="form-control common-custom-button">Previous Step</button></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                                                <button type="submit" id="step8-next" name="step8-next" class="form-control common-custom-button">Save Advert</button>
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>