<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 form-group">
        <ul class="dashboard-left-sidebar-ul margin-top-align">
            <li><a (click)="manageAd($event, 0)">Create Ads</a></li>
            <li><a (click)="myAds($event)">My Ads</a></li>
            <li><a class="active" (click)="savedAds($event)">Saved Ads</a></li>
<!--            <li><ul class="nav nav-pills nav-stacked" id="stacked-menu">
                    <li>
                        <a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p1">Featured Ads <span class="caret"></span></a>          
                        <ul class="nav nav-pills nav-stacked collapse" id="p1">
                            <li><a [routerLink]="['/accountsettings']" (click)="accountsettings($event)">Account Settings</a></li>
                            <li><a [routerLink]="['/individualadbids']" (click)="individualadbids($event)">Individual Ad Bids</a></li>
                            <li><a [routerLink]="['/stats']" (click)="stats($event)">Stats</a></li>
                            <li><a [routerLink]="['/ranking']" (click)="ranking($event)">Ranking</a></li>
                            <li><a (click)="fafaq($event)">FAQ</a></li>
                        </ul>
                    </li>
                </ul>
            </li>-->
        </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="saved-ads-product-heading">Saved Ads</h2>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group" *ngFor="let product of productList">
                 <div class="saved-ads-product-layout">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 class="saved-ads-product-title"><a (click)="showAd($event, product.id)">{{product.title}}</a></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                            <a (click)="showAd($event, product.id)"><img class="img-responsive image80x50" src="resources/images/product/328_212/{{product.img}}" alt="Property Image"></a>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 form-group">
                            <a (click)="showAd($event, product.id)"><div class="saved-ads-product-description">{{product.description}}</div></a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                            <div class="saved-ads-product-price-title">Guide Price</div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 form-group">
                            <div class="saved-ads-product-price-amount">{{product.basePrice}}  £</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
                            <div class="saved-ads-product-id-title">Reference Id</div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 form-group">
                            <div class="saved-ads-product-id">{{product.referenceId}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-paginator [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPaginateChange($event)">
        </mat-paginator>
    </div>
</div>